<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [3]:
df = pd.DataFrame({'a':[1,2,3,4],'b':[1,3,5,7],'c':[1,4,7,10],'d':[1,5,9,11]})
df

   a  b   c   d
0  1  1   1   1
1  2  3   4   5
2  3  5   7   9
3  4  7  10  11

In [4]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [5]:
df.style.apply(highlight_max)