<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Example-2" data-toc-modified-id="Example-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Example 2</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [17]:
x = [8,2,11,6,5,4,12,9,6,1]
y = [3,10,3,6,8,12,1,4,9,14]

In [23]:
df = pd.DataFrame({'x': x, 'y': y})

df['x_xbar'] = df.x - df.x.mean()
df['y_ybar'] = df.y - df.y.mean()
df['(x_xbar)(y_ybar)'] = df['x_xbar'] * df['y_ybar']
df['(x_xbar)**2'] = df['x_xbar'] ** 2

df

    x   y  x_xbar  y_ybar  (x_xbar)(y_ybar)  (x_xbar)**2
0   8   3     1.6    -4.0              -6.4         2.56
1   2  10    -4.4     3.0             -13.2        19.36
2  11   3     4.6    -4.0             -18.4        21.16
3   6   6    -0.4    -1.0               0.4         0.16
4   5   8    -1.4     1.0              -1.4         1.96
5   4  12    -2.4     5.0             -12.0         5.76
6  12   1     5.6    -6.0             -33.6        31.36
7   9   4     2.6    -3.0              -7.8         6.76
8   6   9    -0.4     2.0              -0.8         0.16
9   1  14    -5.4     7.0             -37.8        29.16

In [24]:
df.sum(0)

x                   6.400000e+01
y                   7.000000e+01
x_xbar             -3.552714e-15
y_ybar              0.000000e+00
(x_xbar)(y_ybar)   -1.310000e+02
(x_xbar)**2         1.184000e+02
dtype: float64

$$
m=\frac{\sum_{i=1}^{n}\left(x_{i}-\overline{X}\right)\left(y_{i}-\overline{Y}\right)}{\sum_{i=1}^{n}\left(x_{i}-\overline{X}\right)^{2}}=\frac{-131}{118.4} \approx-1.1
$$

In [28]:
m = df['(x_xbar)(y_ybar)'].sum() / df['(x_xbar)**2'].sum()
m

-1.106418918918919

$$
\begin{aligned} b &=\overline{Y}-m \overline{X} \\ &=7-(-1.1 \times 6.4) \\ &=7+7.04 \\ & \approx 14.0 \end{aligned}
$$

In [29]:
b = df['y'].mean() - m * df['x'].mean()
b

14.081081081081082

In [30]:
# y = mx + b
# y = -1.106 x + 14.081

# Example 2

In [35]:
x = [2,2]
y = [3,1]

df = pd.DataFrame({'x': x, 'y': y})

df['x_xbar'] = df.x - df.x.mean()
df['y_ybar'] = df.y - df.y.mean()
df['(x_xbar)(y_ybar)'] = df['x_xbar'] * df['y_ybar']
df['(x_xbar)**2'] = df['x_xbar'] ** 2

print(df)
m = df['(x_xbar)(y_ybar)'].sum() / df['(x_xbar)**2'].sum()
b = df['y'].mean() - m * df['x'].mean()
m,b

   x  y  x_xbar  y_ybar  (x_xbar)(y_ybar)  (x_xbar)**2
0  2  3     0.0     1.0               0.0          0.0
1  2  1     0.0    -1.0              -0.0          0.0